.li {
    border-left: 2px solid var(--color-primary);

    display: flex;
    justify-content: space-between;
   

    width: 41%;

    padding: 35px 25px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    div {
        display: flex;
        flex-direction: column;

        gap: 20px;

        h3 {
            font-weight: bold;
        }
    }

    span {
        display: flex;
        align-items: end;

        font-weight: bold;
    }
}