@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {

    --color-primary: #6787F9;
    --color-secundary: #000000;

    --background-color: #FFFFFF;

    --title: 1.8rem;
    --subtitle: 1rem;

    --paragraph: 1rem;
}

body {
    font-family: "Inter", sans-serif;
}